:root {
    --iconSize: 50px;
    --iconMargin: 10px;
    background: rgb(50, 50, 50);
}



/*TAG Selectors
=====================*/
html, body{
    width: 100%;
    height: 100%;
    overflow: auto;
}

img:hover{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

tr{
    border-bottom: 2px solid black;
}

td+td{
    width: auto;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}



/*NavBar Selectors
=====================*/
#navBar{
    width: 100%;
    height: 50px;
}

#navBar img:nth-of-type(1){
    background: rgb(0,35,0);
}

#navBar img:nth-of-type(2){
    background: rgb(0,10,45);
}

#navBar img:nth-of-type(3){
    background: rgb(55,0,0);
}

#navBar img:nth-of-type(4){
    background: rgb(35,0,35);
    /*border-top: rgb(35,0,35) 5px solid;
    border-left: rgb(35,0,35) 5px solid;
    border-right: rgb(35,0,35) 5px solid;*/
}

.tab{
    width: 90px;
    height: 30px;
    background: rgb(30,30,30);
    padding: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0px 2px;
    display: inline-block;
    float: left;
    cursor: default;
}



/*Tab Selectors
=====================*/
/*Changes Tab background Color of Ability Tiers Panel*/
#create{
    background: rgb(30,30,30);
}

#DEX .abilityIcons{
    background: rgba(0,55,0,100);
    border-top: rgb(0,35,0) 10px solid;
}

#INT .abilityIcons{
    background: rgb(0,20,55);
    border-top: rgb(0,10,45) 10px solid;
}

#STR .abilityIcons{
    background: rgb(75,0,0);
    border-top: rgb(55,0,0) 10px solid;
}

#MAD .abilityIcons{
    background: rgb(55,0,55);
    border-top: rgb(35,0,35) 10px solid;
}

.page{
    display: none;
    width: 100%;
}



/*Tab Ability Icons Panel
===========*/
.abilityIcons{
    width: 70%;
    float: left;
}



/*Ability Tier Selectors
======*/
.tier{
    overflow: hidden;
    border: solid 3px rgb(20,20,20);
    background: rgb(30,30,30);
    border-radius: 5px;
    width: calc(var(--iconSize)*4 + var(--iconMargin)*4);
    padding: 5px;
    margin: 25px auto;
}

.tier0{
    width: calc(var(--iconSize)*2 + var(--iconMargin)*2);
    padding: 5px;
}

.tier1{
    padding: 5px;
}

.tier3{
    width: calc(var(--iconSize)*5 + var(--iconMargin)*5);
}

.tier4{
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto; 
}

.classDiv{
    margin: 25px 25px;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 5px;
    border: solid 3px black;
    background: rgb(30,30,30);
    border-radius: 5px;
    border: solid rgb(30,30,30) 5px;
    width: calc(var(--iconSize)*4 + var(--iconMargin)*5);
    /*min-height: calc(var(--iconSize)*4 + var(--iconMargin)*5 + var(--iconSize)*4 + var(--iconMargin)*5);*/
}



/*Individual Ability Icon Selectors
===*/
.abilityIcon{
    display: block;
    width: var(--iconSize);
    height: var(--iconSize);
    float: left;
    margin: calc(var(--iconMargin)/2);
    /*border: solid 3px rgb(20,20,20);*/
}

.classDiv div ~ .abilityIcon:nth-of-type(2){
    margin-left: var(--iconMargin);
}

.classDiv div ~ .abilityIcon:nth-of-type(4n+2){
    margin-left: var(--iconMargin);
}

.classDiv div ~ .abilityIcon:nth-of-type(4n+1){
    margin-right: var(--iconMargin);
}

/*Passive Skills*/
.passiveSkills{
    width: calc(var(--iconSize)*2 + var(--iconMargin)*3);
    height: calc(var(--iconSize) + var(--iconMargin));
    position: relative;
    top: -10px;
    margin-top: calc((var(--iconSize) + var(--iconMargin)) * -1);
}

.passiveSkills img{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 50%;
}

.passiveSkills img:first-child{
    margin-left: 10px;
}



/*Tab Ability Description Panel Selectors
===========*/
.abilitydescs{
    width: 30%;
    height: 100%;
    margin-left: 70%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y:scroll;

    background: gray;
}

.abilityDesc h3{
    border-bottom: solid black 2px;
    margin-bottom: 0px;
    padding: 10px;
}

.abilityDesc td{
    padding-left: 10px;
    padding-right: 10px;
}

.abilityDesc td:first-child{
    width: 6em;
    vertical-align: top;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.abilitydescs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.abilitydescs{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



/*Individual Ability Descriptions
======*/
.abilityDesc{
    display: none;
    margin: 10px;
    background: rgb(200,200,200);
    border-radius: 10px;
}



/*Unorganized Selectors
=================================*/

/*NEEDS to be after skillTree and abilityDesc*/
.active{
    display: block;
}

/*TEMPORARY STYLES*/
.classImg{
    width: calc(var(--iconSize)*4 + var(--iconMargin)*5);
    height: calc(var(--iconSize)*4 + var(--iconMargin)*5);
    border-bottom: solid 5px black;
    background: black;
}

.statIcon{
    width: 90px;
    height: 30px;
    background: rgb(30,30,30);
    border: solid 5px rgb(40,40,40);
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

.lockedImgs{
    filter: grayscale(100%);
}

.hardLock{
    filter: grayscale(100%);
    opacity: .5;
}

.noClick{
    pointer-events: none;
}

