table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

tr{
    border-bottom: 2px solid white;
}

td+td{
    width: auto;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.abilityIcon{
    display: block;
    width: 75px;
    height: 75px;
}

.abilityDesc{
    display: none;
}

.abilityDesc td:first-child{
    width: 6em;
    vertical-align: top;
}

.abilityActive{
    display: block;
}

/*TEMPORARY STYLES*/
.tier{
    overflow: hidden;
    border: solid 2px black;
    margin: 25px;
}

.classSkills{
    overflow: hidden;
    border: solid 4px black;
    width: 300px;
    float: left;
    margin: 25px;
}

.ability{
    float: left;
}

.tier2{
    width: 300px;
}
