table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

tr{
    border-bottom: 2px solid black;
}

td+td{
    width: auto;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

.abilityIcon{
    display: block;
    width: 75px;
    height: 75px;
    float: left;
}

.abilityDesc{
    display: none;
    margin: 10px;
    background: lightgray;
    border-radius: 10px;
}

.abilityDesc h3{
    border-bottom: solid black 2px;
    margin-bottom: 0px;
    padding: 10px;
}

.abilityDesc td{
    padding-left: 10px;
    padding-right: 10px;
}

.skillTree{
    display: none;
    width: 100%;
}

.abilityDesc td:first-child{
    width: 6em;
    vertical-align: top;
}

.active{
    display: block;
}


/*TEMPORARY STYLES*/
.tier{
    overflow: hidden;
    border: solid 2px black;
    margin: 25px;
}

.classSkills{
    overflow: hidden;
    border: solid 4px black;
    width: 300px;
    float: left;
    margin: 25px;
}

.tier2{
    width: 300px;
}

.abilityIcons{
    width: 70%;
    float: left;
}

.abilitydescs{
    width: 30%;
    height: 100%;
    margin-left: 70%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y:scroll;

    background: gray;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.abilitydescs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.abilitydescs{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
